.box{
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-top: 60px;
}
.header{
    width: 320px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 140, 255);
    padding: 20px 0;
    margin-top: 5px;
    border-radius: 5px;
}
.userimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
}
.userimg img{
    border-radius: 50%;
}
.userimg:empty{
    border-radius: 10px;
    animation: load 1s alternate infinite linear;
}
.username{
    width: 150px;
    height: 20px;
    text-align: center;
}
.username:empty{
    border-radius: 5px;
    animation: load 1s alternate infinite linear;
}
.userbio{
    width: 300px;
    text-align: center;
    height: 30px;
}
.userbio:empty{
    border-radius: 5px;
    animation: load 1s alternate infinite linear;
}
.body{
    display: flex;
    gap: 20px;
    padding: 20px 0;
}
.likes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.following{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.followers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.updateprofile{
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;
}
.updateprofile button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(0,140,255);
    color: rgb(255, 255, 255);
}
.zupdates{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(63, 63, 63);
    top: 0;
    left: 0;
    transition: 0.4s all;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeupdate{
    position: absolute;
    z-index: 2;
    color: rgb(0,140,255);
    top: 10px;
    left: 10px;
}
.updateinputs{
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
}
.updateinputs p{
    color: rgb(0,140,255);
    font-size: 20px;
}
.updateinputs input{
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 0 10px 5px;
}
.footer{
    width: 98vw;
    height:calc(100% - 220px);
    overflow-y: scroll;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
}
.footer:empty + .zpost{
    display:grid;
}
.footer:empty{
    display: none;
}
.zpost{
    width: 98vw;
    height:calc(100% - 220px);
    overflow-y: scroll;
    display: none;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
}
.card{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: red;
}
.updateimg{
    display: flex;
    align-items: center;
}
.updateimg button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.uploadinganimation{
    animation:loading .5s infinite alternate;
}
.logout{
    position: absolute;
    top: 70px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px dashed black;
    color: rgb(0, 140, 255);
}
.logout:active,.logout:hover{
    color: rgb(250, 50, 50);
}

@keyframes loading {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform:translateY(6px)
    }
}
@media(max-width:1049px){
    .footer{
    grid-template-columns: auto auto auto;

    }
.zpost{
    grid-template-columns: auto auto auto;
}
}
@media(max-width:790px){
    .footer{
    grid-template-columns: auto auto ;

    }
    .zpost{
        grid-template-columns:  auto auto;
    }
}
@media(max-width:670px){
    .box{
        margin-bottom: 60px;
        margin-top: 0;
    }
    .logout{
        top: 5px;
    }
    .zupdates{
        height: calc(100vh - 60px);
    }
    .header{
        margin-top: 0;
    }
}
@media(max-width:538px){
    .footer{
    grid-template-columns:  auto ;

    }
    .zpost{
        grid-template-columns: auto;
    }
}
@media(max-width:400px){
    .header{
   width: 100vw;
    }
    .logout{
        color: white;
    }
}
@keyframes load {
    0%{
        background-color: rgb(223, 223, 223);
    }
    100%{
        background-color: aliceblue;
    }
}