.box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 140, 255);
    border-bottom: 1px solid gray;
}
.logo{
    font-family: 'Press Start 2P', cursive;
    margin-left: 10px;
    color: white;
}
.search{
    width: 250px;
    position: relative;
}
.searchicon{
    position: absolute;
    right:0;
    top: 0;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(0,140,255);
}
.search input{
    padding-left:10px;
    padding-right:35px;
    padding-top:6px;
    padding-bottom:6px;
    border-radius: 4px;
    border: none;
    outline: none;
    width: calc(100% - 45px);
    height:25px
}
.links{
    width:300px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links a{
    color: white;
    border-radius: 4px;
}
.links a.active{
    border-bottom: 2px solid rgb(255, 255, 255);
  }
.links a button{
    background: none;
    border-radius: 3px;
    border: 1px solid white;
    color: white;
    padding:5px;
    display:flex ;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
}
.links a .profilemenu{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: antiquewhite;
}
@media(max-width:800px){
    .search{
    width: 200px;
    }
}
@media(max-width:700px){
    .search{
    width: 170px;
    }
}